<div>
  <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1 class="m-0">Peliculas</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Peliculas</li>
    </ol>
    </div>
    </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-12">
      <app-searcher></app-searcher>
    </div>
  </div>
</div>
</div>
