<div>
  <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1 class="m-0">Peliculas</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Peliculas</li>
    </ol>
    </div>
    </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-12">
      <app-searcher (movieSelected)="onMovieSelected($event)"></app-searcher>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let movie of movies">
      <div class="card">
        <img class="card-img-top custom-card-img" [src]="movie.Poster">
        <div class="card-body">
          <h5 class="card-title">{{movie.Title}}</h5>
          <p class="card-text"></p>
          <a [routerLink]="['details',movie.imdbID]" class="btn btn-primary">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
